// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #2EA8FF;
$secondary : #FF9F1C;
$accent    : #FF4FA3;

$dark      : #1E1E2F;
$dark-page : #F5F7FA;

$positive  : #4CD964;
$negative  : #FF4FA3;
$info      : #6ED0FF;
$warning   : #FFC53A;
